.seccion__novedades {
    background-color: pink;
    flex-grow: 2;
}


.novedades {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    padding: 15px;
    justify-items: center;
    align-items: center;
}


.novedades__h3{
    font-size: 1.5em;
    margin: 10px;
}


.novedades__libro .libro__portada {
    max-height: 220px;

}
