@font-face {
 /*   font-family: MaryKate;
    src: url('../fonts/MaryKate.ttf'); */

    font-family: Sansita;
    src: url('../fonts/Sansita-Regular.ttf');

    font-family: Poppins;
    src: url('../fonts/Poppins-Regular.ttf');
 }

.reviews {
    padding: 3px;
    display: flex;
    gap: 40px;
    flex-direction: column;
    width: 60vw;
    
    
}
.review {
    border-radius: 30px;
    box-shadow: 5px 5px 5px 5px grey;
    padding: 3px;
    min-height: 10vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px;
    gap: 30px;
    background-image: linear-gradient(to right, #ffd8e5,#ff98bc);
    
}
.foto-review {
    border-radius: 50%;
    border-color: #3860f1;
    border-style: solid;
    border-width: 5px;
    width: 150px;
    height: 150px;
   
    
}

.texto-review {
    color: black;
    
    
}

h3 {
    color: #D64879;
    margin-bottom: 10px;
    font-family: Sansita;
    font-size: 30px;
}

p {
    font-family: Poppins;
}

.grid-reviews {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}

grid-review1 {
    grid-column-start: 1;
  grid-column-end: 3;
}