* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body {
    background-color: #E5E8F1;
    background-image: url('../imgs/fondo.png');
}

.main {

    border-radius: 25px;
    border: 5px solid white;
    display: flex;
    flex-direction: column;
    margin: 2rem 8rem 2rem 8rem;
    background-color: #f5f5fd98;
}



.contenedor {

    display: flex;
    flex-direction: column;
    border-radius: 0px 0px 25px 25px;
}

.contenedor__fila {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/*ESTILOS DEL HEADER*/


.navbar {
    display: flex;
    height: 5rem;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    justify-content: space-evenly;
}

.navbar__logo {
    height: 100px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.navbar__a,
.dropdown__a {
    text-decoration: none;
}

.navbar__menu {
    display: flex;
    gap: 20px;
    list-style-type: none;

}

.navbar__dropdown {
    position: relative;
    /* display: none; */
}

.dropdown__ul {
    display: none;
    background-color: white;
    position: absolute;
    min-width: 80px;
    text-wrap: nowrap;
    padding: 10px;
    /* left: 0px;  ? */
    /* top: 100%; ? */
    list-style-type: none;
    z-index: 2;
    border-radius: 10px;
}

.dropdown__li {
    text-decoration: none;
    padding: 8px;

}

/*.navbar__dropdown:hover .dropdown-li {
    display: block;
} */

/* no entiendo dónde poner el hover */
.navbar__dropdown:hover .dropdown__ul {
    display: block;
    top: 25px;
}

.navbar__menu li:nth-child(even) a {
    color: #3860f1;
}

.navbar__menu li:nth-child(odd) a {
    color: #D64879;
}



/*FIN ESTILOS DEL HEADER*/

/* ESTILOS BANNER */
.banner {
    width: 100%;
    overflow: hidden;
    margin: 0em 0em 3em 0em;
}

.banner__imagenes {
    display: flex;
    height: 30em;
    transition: transform 0.5s ease;
    z-index: 1;
}

.banner__botones {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -15em;
}

.banner__atras,
.banner__siguiente {
    cursor: pointer;
    background-color: white;
    width: 3em;
    height: 3em;
    border-color: #597cff;
    border-radius: 50px;
    margin: 0em 3em 0em 3em;
}

.seccion__novedades {
    flex-grow: 2;
}

.seccion__generos {
    width: 30em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2px;
}

.genero {
    border-radius: 2em;
    height: 11em;
    padding: 1em 3em 1em 3em;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    display: flex;
    justify-content: space-between;
}

.genero__h4 {
    
    font-size: 1.8em;
    position: relative;
    top: 1em;
}

.genero__imagen {
    width: 9em;
    object-fit: contain;
    position: relative;
    right: 1em;

}
.genero__mundo {
    background: linear-gradient(90deg, rgba(207, 233, 187, 1) 6%, rgba(172, 237, 123, 1) 99%);
    color: #038948;
}

.genero__carton {
    background: linear-gradient(90deg, rgba(250,187,153,1) 6%, rgba(255,159,70,1) 99%);
    color: #DD4605;
}
.novedades {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    padding: 15px;
    justify-items: center;
    align-items: center;
}


.libro__titulo {
    font-size: 1em;
    padding-bottom: 8px;
}

.libro__autor {
    font-size: 0.8em;
    padding-bottom: 8px;
}

.libro__masinfo {
    align-self: center;
    cursor: pointer;
    background-color: #597CFF;
    width: 10em;
    height: 3em;
    border-color: #597CFF;
    border-radius: 50px;
    color: white;
}

.contenedor__botones {
    display: flex;
    justify-content: center;
}

.novedades__boton,
.vendidos__h3,
.recomendado__boton {
    font-size: 1.5em;
    margin: 10px;
}

.novedades__boton,
.recomendado__boton {
    border-color: #597CFF;
    padding: 0.5em;
    background-color: rgba(255, 255, 255, 0.414);
    border-radius: 50px;
    box-shadow: 24px 9px 78px -23px rgba(89, 124, 255, 1);
}

.vendidos {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.novedades__libro .libro__portada {
    max-height: 220px;

}

.vendidos__libro {
    margin-left: 2rem;
    margin-right: 2rem;
}

.vendidos__libro .libro__portada {
    height: 200px;

}



/*ESTILOS FOOTER*/
.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    padding: 50px 50px 30px 50px;
    color: white;
    justify-items: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.745);
    border-radius: 0px 0px 25px 25px;
}

.footer__redes i {
    font-size: 30px;
    padding: 5px;

}


@media only screen 
   and (max-width : 880px) {
   .main{
    margin: 1em 1em 1em 1em;
   }

   .navbar__menu{
    display: none;
   }
}