* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}
body {
    background-color: #E5E8F1;
    background-image: url('../imgs/fondo.png');
}
.main {
  
    border-radius: 25px;
    border: 5px solid white;
    display: flex;
    flex-direction: column;
    margin: 2rem 8rem 2rem 8rem;
    background-color: #f5f5fd98;
}

.contenedor {

    display: flex;
    flex-direction: column;
    border-radius: 0px 0px 25px 25px;
}

.contenedor__fila {
    display: flex;
    flex-direction: row;
}

/*ESTILOS DEL HEADER*/


.navbar {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    justify-content: space-evenly;
}

.navbar__logo {
    height: 100px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.navbar__a,
.dropdown__a {
    text-decoration: none;
}

.navbar__menu {
    display: flex;
    gap: 20px;
    list-style-type: none;

}

.navbar__dropdown {
    position: relative;
    /* display: none; */
}

.dropdown__ul {
    display: none;
    background-color: white;
    position: absolute;
    min-width: 80px;
    text-wrap: nowrap;
    /* ESTO HACE ALGO??  */
    padding: 10px;
    /* left: 0px;  ? */
    /* top: 100%; ? */
    list-style-type: none;

}

.dropdown__li {
    text-decoration: none;
    padding: 5px;
}

/*.navbar__dropdown:hover .dropdown-li {
    display: block;
} */

/* no entiendo dónde poner el hover */
.navbar__dropdown:hover .dropdown__ul {
    display: block;
    top: 25px;
}

.navbar__menu li:nth-child(even) a {
    color: #3860f1;
}

.navbar__menu li:nth-child(odd) a {
    color: #D64879;
}



/*FIN ESTILOS DEL HEADER*/

/* ESTILOS BANNER */
.banner {
    width: 100%;
    background-color: red;
    height: 300px;
}


.seccion__novedades {
    background-color: pink;
    flex-grow: 2;
}

.seccion__generos {
    width: 30%;
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2px;
}

.genero {
    background-color: grey;
    height: 20%;
}

.novedades {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    padding: 15px;
    justify-items: center;
    align-items: center;
}


.libro__titulo {
    font-size: 1em;
    padding-bottom: 8px;
}

.libro__autor {
    font-size: 0.8em;
    padding-bottom: 8px;
}

.libro__masinfo {
    align-self: center;
    cursor: pointer;
    background-color: #597CFF;
    width: 10em;
    height: 3em;
    border-color: #597CFF;
    border-radius: 50px;
    color: white;
}

.novedades__h3,
.vendidos__h3 {
    font-size: 1.5em;
    margin: 10px;
}

.vendidos {
    background-color: green;
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.novedades__libro .libro__portada {
    max-height: 220px;

}

.vendidos__libro {
    margin-left: 2rem;
    margin-right: 2rem;
    background-color: red;
}

.vendidos__libro .libro__portada {
    height: 200px;

}



/*ESTILOS FOOTER*/
.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    padding: 50px 50px 30px 50px;
    color: white;
    justify-items: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.745);
    border-radius: 0px 0px 25px 25px;
}

.footer__redes i {
    font-size: 30px;
    padding: 5px;

}