* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body {
    --primary-color: #597CFF;
    --secondary-color: #D64879;
}
/*ESTILOS DEL HEADER*/


.navbar {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    justify-content: space-between;
    padding: 1em 6em 1em 6em;
    margin: 0em 0em 2em 0em;
}

.navbar__logo {
    height: 4em;
}

.navbar__hamburguesa{
    display: none;
}

.navbar__a,
.dropdown__a {
    text-decoration: none;
}

.navbar__menu {
    display: flex;
    gap: 20px;
    list-style-type: none;
    align-items: center;
}

.navbar__dropdown--catalogo, .navbar__dropdown--usuario {
    position: relative;

}

.dropdown__ul {
      
    position: absolute;
    min-width: 80px;
    text-wrap: nowrap;
    padding: 10px;
    list-style-type: none;
    z-index: 2;
    border-radius: 10px;
    height: 0;
    transition: height .5s ease, background-color .5s ease;
    overflow: hidden;
}

.dropdown__li {
    padding: 8px;
}
.dropdown__li a{
    text-decoration: none;
}
.navbar__dropdown--catalogo:hover .dropdown__ul {
    display: block;
    top: 25px;
    height: 12em;
    background-color: white;
}

.navbar__menu li:nth-child(even) a {
    color: var(--primary-color);
}

.navbar__menu li:nth-child(odd) a {
    color: var(--secondary-color);
}

.navbar__dropdown--usuario:hover .dropdown__ul {
    display: block;
    top: 25px;
    height: 3em;
    background-color: white;

}
.buscador__input {
    border: 1px solid var(--secondary-color);
    background-color: #ffbdd4ce;
    color: black;
    padding: 4px;
    border-radius: 0.3em;
}
.buscador__input::placeholder {
    color: rgb(36, 36, 36);
    opacity: 1;
    
}
.fa-solid {
    color: var(--secondary-color);
}
/*FIN ESTILOS DEL HEADER*/

/*ESTILOS INICIO*/
.main {

    border-radius: 25px;
    border: 5px solid var(--secondary-color);
    display: flex;
    flex-direction: column;
    margin: 2rem 8rem 2rem 8rem;
    background-color: #f5f5fd98;
    overflow: hidden;
}

.dialog{
    margin: auto;
    z-index: 10;
    border: none;
    position: fixed;
}

.dialog__contenedor {
    align-items: center;
    padding: 7em;
    border: 5px solid var(--secondary-color);
    border-radius: 25px;
    background-color:white;
    flex-direction: column;
}
.dialog__btn {
    position: absolute;
    top: 2em;
    right: 2em;
    font-size: large;
    border: 2px solid var(--primary-color);
    padding: 5px;
    border-radius: 0.5em;
    background-color: white;
    font-weight: bold;
    cursor:pointer;
}
.contenedor {

    display: flex;
    flex-direction: column;
    border-radius: 0px 0px 25px 25px;
}

.contenedor__fila {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}



/* ESTILOS BANNER */
.banner {
    width: 100%;
    overflow: hidden;
    margin: 0em 0em 3em 0em;
}

.banner__imagenes {
    display: flex;
    height: 30em;
    transition: transform 0.5s ease;
    z-index: 1;
}

.banner__botones {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -15em;
}

.banner__atras,
.banner__siguiente {
    cursor: pointer;
    background-color: white;
    width: 3em;
    height: 3em;
    border-color: var(--primary-color);
    border-radius: 50px;
    margin: 0em 3em 0em 3em;
}


/* SECCIÓN GÉNEROS */
.inicio__secciones{
    flex: 70;
}
.seccion__generos {
    max-width: 40em;
    display: flex;
    flex: 20 1 auto;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 0.5em;
    padding: 1em;
}

.genero {
    border-radius: 2em;
    height: 11em;
    padding: 1em 3em 1em 3em;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    display: flex;
    justify-content: space-between;
}

.genero__h4 {
    
    font-size: 1.8em;
    position: relative;
    top: 1em;
}

.genero__imagen {
    width: 9em;
    object-fit: contain;
    position: relative;
    right: 1em;
}
.genero__mundo {
    background: linear-gradient(90deg, rgba(207, 233, 187, 1) 6%, rgba(172, 237, 123, 1) 99%);
    color: #038948;
}

.genero__carton {
    background: linear-gradient(90deg, rgba(250,187,153,1) 6%, rgba(255,159,70,1) 99%);
    color: #DD4605;
}
.genero__novela {
    background: linear-gradient(90deg, rgba(244,207,255,1) 6%, rgba(230,148,255,1) 99%);
}
.genero__escolares {
    background: linear-gradient(90deg, rgba(176,241,255,1) 6%, rgba(95,167,182,1) 99%);
}
.genero__albumes {
    background: linear-gradient(90deg, rgba(167,223,255,1) 6%, rgba(56,182,255,1) 99%);
}

.contenedor__novedades, .contenedor__recomendados {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 3em 0em;
    padding: 15px;
    justify-items: center;
    align-items: center;
}


.libro__titulo {
    font-size: 1em;
    padding-bottom: 8px;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.libro__autor {
    font-size: 0.8em;
    padding-bottom: 8px;
    display: flex;
    justify-content: center;
}

.libro__masinfo {
    cursor: pointer;
    background-color: var(--primary-color);
    width: 10em;
    height: 3em;
    border-color: var(--primary-color);
    border-radius: 50px;
    color: white;
    margin-left: 2rem;
    margin-right: 2rem;
    
}
.libro__masinfo a {
    text-decoration: none;
    color: white;
}
.fa-cart-shopping {
    color: white;
}

.navbar__a .fa-cart-shopping, .dropdown__a .fa-cart-shopping {
color: var(--secondary-color);
}
.fa-magnifying-glass {
    color: var(--primary-color);
}
.libro__masinfo:hover, .libro__comprar:hover {
    background-color: #bac9ff;
    border-color: var(--primary-color);
}

.contenedor__botones {
    display: flex;
    justify-content: center;
}

.vendidos__h3 {
    font-size: 1.5em;
    margin: 0em 2em;
}

.novedades__boton--btnInactivo,
.recomendado__boton--btnInactivo,
.novedades__boton--btnActivo, 
.recomendado__boton--btnActivo {
    border-color: var(--secondary-color);
    padding: 0.5em;
    background-color: #ffcdde;
    border-radius: 50px;
    
    font-size: 1.5em;
    margin: 0em 2em;
}

.novedades__boton--btnInactivo:hover, .recomendado__boton--btnInactivo:hover, 
.novedades__boton--btnActivo, .recomendado__boton--btnActivo {
    background-color: var(--secondary-color);
    color: white;
    border-color: var(--secondary-color);
}

.vendidos {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.inicio__libro .libro__portada {
    max-height: 16em;
    display: flex;
    justify-content: center;
}

.inicio__libro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.vendidos__libro {
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.vendidos__libro .libro__portada {
    max-height: 15em;

}

.cesta__boton a {
    text-decoration: none;
    color: white;
}
/* ESTILOS CARRITO*/
.cesta {
    background-color: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.cesta__h1, .recomendados__h3 {
    padding: 10px 20px 10px 20px;
    align-self: flex-start;
}


.cesta__info {
    background-color: none;
    padding: 0em 5em 5em 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cesta__producto {
border-bottom: 2px solid black;
padding: 20px;
}

.producto__portada, .producto__titulo, .producto__cantidad, .producto__precio {
    display: flex;
    padding: 1em;
    align-items: center;
}
.producto__titulo {
    font-weight: bold;
}

.producto__img {
    max-height: 10em;
}
.cesta__titulo {
    background-color: purple;
    font-size: 2em;
}

.cesta__cantidad {
    background-color: yellow;
    font-size: 2em;
}

.cesta__precio {
    background-color: aqua;
    font-size: 2em;
}
.cesta__producto {
    display: flex;
    gap: 5em;
}

.cantidad__valor {
 margin: 0px 10px 0px 0px;   
}

.cantidad__boton {
    cursor: pointer;
    background-color: var(--primary-color);
    width: 2em;
    height: 2em;
    border-color: var(--primary-color);
    border-radius: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin: 0.2em;
    }

.cesta__boton {
    cursor: pointer;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    border-radius: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    width: 6em;
    height: 3em;
    margin: 1em 4em 0em auto;
}

.recomendados {
    background-color: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 0, 0, 0.126);
    padding: 20px;
    border-radius: 25px;
    border: 5px solid white;
}


.recomendados__libro {
    margin-left: 2rem;
    margin-right: 2rem;
    
    display: flex;
    
}
.recomendados__datos {
    padding: 2em;
    display: flex;
    flex-direction: column;
}

.recomendados__titulo {
    margin: 0em 0em 1em 0em;
}
.recomendados__autor {
    margin: 0em 0em 4em 0em;
}
.recomendados__libro .producto__img {
    height: 200px;

}

.recomendados__boton {
    align-self: center;
    cursor: pointer;
    background-color: var(--primary-color);
    width: 10em;
    height: 3em;
    border-color: var(--primary-color);
    border-radius: 50px;
    color: white;
}
.cesta__h3 {
    margin: 1em;
}
/* ESTILOS PAGO*/
.compra {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.compra__h1 {
    padding: 2em 0em 0em 0em;
}

.compra__grafico {
    width: 30vw;
}

.compra__proceso {
    display: flex;
    flex-direction: row;
    gap: 2em;
    padding: 0em 2em 2em 0em;
}
/* ESTILOS REGISTRO*/
.formulario__fieldset {
    border: 2px solid var(--secondary-color);
    border-radius: 15px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    max-width: 500px;
    padding: 2em;
}

.registro__h1 {
    display: flex;
    justify-content: center;
    padding: 1em;
    color: var(--primary-color);
}

.registro__h2{
    display: flex;
    justify-content: center;
    padding: 1em;
    color:var(--secondary-color);

}

.fila {
    flex-direction: row;
    gap: 5px;
    align-items: center;

}


.container {
    display: flex;
    gap: 24px;
    flex-direction: column;
}


.fieldset__input,
.fieldset_textarea,
.fieldset__select {
    margin: 10px;
    border-radius: 5px;
    border-color: white;
    border: 1px solid grey;
    font-size: 15px;
}


.fieldset__legend {
    font-size: larger;
    font-weight: bold;
    color: var(--secondary-color);
    border-radius: 10px;
    background-color: #ffd0e0;
    padding: 5px 15px 5px 15px;

}

.formulario {
    display: flex;
    justify-content: center;
    margin: 0em 0em 2em 0em;
}

.enviar {
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    border-radius: 20px;
    color: white;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 15px 5px 15px;
}
/* ESTILOS TÉRMINOS Y CONDICIONES*/
.tyc {
    padding: 3px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    width: 100%;
    padding: 1em 5em 1em 5em;
}

.tyc__h2 {
    color: var(--primary-color);
}

.tyc__h1 {
    color: var(--secondary-color);
}

.tyc__parrafo {
    line-height: 2em;
}

/*ESTILOS SOBRE NOSOTROS*/
.nosotros {
    padding: 3px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    width: 100%;
    padding: 1em 5em 1em 5em;

}

.nosotros__h2 {
    color: var(--primary-color);
}

.nosotros__h1 {
    color: var(--secondary-color);
}

.nosotros__parrafo {
    line-height: 2em;
}

/*ESTILOS FOOTER*/
.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    padding: 50px 50px 30px 50px;
    color: white;
    justify-items: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.745);
}

.footer__redes i {
    font-size: 30px;
    padding: 5px;

}

.footer a {
    text-decoration: none;
    color: white;
}

/* Media queries para pantallas pequeñas */
@media (max-width: 1000px) {
    .main {
        margin: 1em 1em;
    }

    .navbar {
        display:flex;
        flex-direction: column;
        align-items: center;
        padding: 1em 2em;
        font-size: larger;
        margin:0em;
    }

    .navbar__logo {
        height: 80px;
    }

    .navbar__hamburguesa{
        display: block;
        position: absolute;
        top: 2em;
        right: 2em;
        padding: 3em;
    }

    .navbar__menu {
        display: none;
        margin: 2em;
        flex-direction: column;
        gap: 2em;
    }

    .banner__imagenes {
        height: 15em;
    }

    .banner__botones {
        top: -10em;
    }

    .seccion__generos {
        width: 100%;
    }

    .novedades__boton--btnInactivo,
    .recomendado__boton--btnInactivo,
    .novedades__boton--btnActivo, 
    .recomendado__boton--btnActivo {
        font-size: 1em;
        margin: 1em; 
    }

    .genero {
        align-items: center;
        height: auto;
        padding: 1em;
    }

    .genero__imagen {
        width: 7em;
        max-width: 30%;
    }
    .genero__h4{
        max-width: 60%;
    }

    .contenedor__novedades, .contenedor__recomendados {
        grid-template-columns: 1fr;
    }
    
.inicio__libro .libro__portada, 
.vendidos__libro .libro__portada {
    max-height: 30em;
}

    .vendidos {
        flex-direction: column;
    }
    .footer{
        padding:1em;
        grid-template-columns: 1fr;
    }
}