.paginaproducto {
    width: 80vw;
    margin: 20px auto;
    padding: 0 20px;

}

.producto {
    display: flex;
    flex-direction: row;
    line-height: 2rem;
    flex-wrap: wrap;
    justify-content: space-around;
}

.producto__info {
    max-width: 40em;
}


.producto__izquierda {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.producto__autor {
    margin: 20px;
    font-size: 1em;
}

.detalles__lista {
    list-style-type: none;
}

.libro__comprar {
    cursor: pointer;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: white;
    border-radius: 50px;
    margin: 1rem 0;
}

.producto__detalles .libro__comprar {
    width: 14rem;
    height: 3rem;
    font-size: 18px;
    align-self: center;
}

.relacionados__libro .libro__comprar {
    width: 10rem;
    height: 2rem;

}

.producto__imagen {
    height: 350px;

}



.producto__sinopsis {
    margin: 0 0 1em 0;
}

.producto__detalles {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.producto__fragmento {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    margin: 1em 0;
    padding: 0.5rem;
}

.producto__fragmento a {
    text-decoration: none;
    color: black;
}

    /*ESTILO REVIEWS*/

.reviews {
    margin: 2rem 0;
    display: flex;
    flex-direction: row;
    justify-items: center;
    padding: 0 0 3rem 0;
    gap: 2em;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.reviews__columna {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;

}

.reviews__review {
    border-radius: 30px;
    box-shadow: 5px 5px 5px 5px grey;
    padding: 3px;
    min-height: 10vw;
    min-width: 40em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background-image: linear-gradient(to right, #ffd8e5, #ff98bc);
    max-width: 30em;

}

.review__info {
    padding: 1.5rem;
}

.review__foto {
    border-radius: 50%;
    border-color: var(--primary-color);
    border-style: solid;
    border-width: 5px;
    width: 150px;
    height: 150px;
    margin: 0 0 0 20px;
}


.review__nombre {
    color: var(--secondary-color);
    margin: 0 0 10px 0;
    font-family: Sansita;
    font-size: 25px;
}

p {
    font-family: Poppins;
}


.relacionados__h3 {
    font-size: 1.5em;
    margin: 10px;
}

.relacionados {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2rem 0;
}

.novedades__libro .libro__portada {
    max-height: 220px;

}

.relacionados__libro {
    margin: 0 2rem;
}

.relacionados__libro a {
    text-decoration: none;
    color: black;
}

.relacionados__libro .libro__portada {
    height: 200px;

}

.libro__titulo {
    font-size: 1.5em;
}

@media (max-width: 1000px) {
    .reviews__review {

        max-width: 80vw;
        min-width: 0px;
    }
}

@media (max-width: 1400px) {
    .relacionados {
        overflow: scroll;
    }
}